connectors/templates/data-collection/ip-geolocation/ip-geolocation.n8n.json
{
  "name": "IP Geolocation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-ip-geolocation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "catalyst-ip-geolocation"
    },
    {
      "parameters": {
        "url": "={{ $json.ipAddress ? 'http://ip-api.com/json/' + $json.ipAddress : 'http://ip-api.com/json/' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, 0],
      "id": "http-request-1",
      "name": "IP-API Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: $json.status === 'success', statusCode: $json.status === 'success' ? 200 : 400, responseBody: $json, error: $json.status === 'fail' ? $json.message : null } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 0],
      "id": "respond-1",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IP-API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP-API Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Production webhook version for Camunda integration. If ipAddress is empty, defaults to caller's IP."
  }
}
