connectors/integrations/communication/slack/slack-send-message-form.json
{
  "name": "Slack Send Message (Form)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Slack Message",
        "formDescription": "Input form for Slack message",
        "formFields": {
          "values": [
            {
              "fieldName": "slackMessage",
              "fieldLabel": "Slack message to post to the Channel",
              "defaultValue": "Hello world!",
              "requiredField": true
            },
            {
              "fieldName": "slackChannel",
              "fieldLabel": "Slack Channel",
              "defaultValue": "n8n",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "id": "8b0e245b-6169-476b-8667-0c77a8b45b87",
      "name": "On form submission",
      "webhookId": "9b62b578-fc94-4afe-98e7-6918ec12f8be"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slackChannel }}",
          "mode": "id"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        208,
        0
      ],
      "id": "387c7d97-9a3f-4c7d-84a1-528c5488c045",
      "name": "Send a message",
      "webhookId": "2e98a189-018b-42ed-9634-61ba77f82257",
      "credentials": {
        "slackApi": {
          "id": "itF3SsW84L2Supde",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Action completed",
        "completionMessage": "=Your Slack message \"\" {{ $('On form submission').item.json.slackMessage }}\"\" was posted to  {{ $('On form submission').item.json.slackChannel }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        416,
        0
      ],
      "id": "af110440-04fa-4b8a-9cbe-985543f505fb",
      "name": "Form",
      "webhookId": "49b19719-2826-4710-9281-9050f9584da2"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0e867fbc-e762-4862-be28-fafb33699176",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce05dc53898fbb8073128a84a17338d25f6cbd94e62c9a790f9aae06599b0bf6"
  },
  "id": "9KQEp6pksIjXsdvX",
  "tags": []
}