connectors/integrations/communication/slack/slack-send-message.n8n.json
{
  "name": "Slack Send Message",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-slack-send-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "catalyst-slack-send-message"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slackChannel }}",
          "mode": "id"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        220,
        0
      ],
      "id": "387c7d97-9a3f-4c7d-84a1-528c5488c045",
      "name": "Send a message",
      "webhookId": "2e98a189-018b-42ed-9634-61ba77f82257",
      "credentials": {
        "slackApi": {
          "id": "itF3SsW84L2Supde",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, statusCode: 200, responseBody: $json, error: null } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "respond-1",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Production webhook version for Camunda integration."
  }
}