connectors/integrations/developer-tools/http-request/http-request.n8n.json
{
  "name": "Catalyst HTTP Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-http-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c2d3e4-5f6a-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "catalyst-http-request"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input from webhook\nconst data = $input.item.json.body || $input.item.json;\n\n// Required fields\nconst method = (data.method || 'GET').toUpperCase();\nconst url = data.url;\n\n// Validate required fields\nif (!url || url.trim() === '') {\n  throw new Error('Missing required field: url');\n}\n\n// Validate HTTP method\nconst validMethods = ['GET', 'POST', 'PUT', 'DELETE', 'PATCH', 'HEAD', 'OPTIONS'];\nif (!validMethods.includes(method)) {\n  throw new Error(`Invalid HTTP method: ${method}. Must be one of: ${validMethods.join(', ')}`);\n}\n\n// Optional fields\nconst headers = data.headers || {};\nconst body = data.body || null;\nconst queryParams = data.queryParams || {};\n\n// Validate URL format\ntry {\n  new URL(url);\n} catch (e) {\n  throw new Error(`Invalid URL format: ${url}`);\n}\n\nreturn {\n  json: {\n    method: method,\n    url: url,\n    headers: headers,\n    body: body,\n    queryParams: queryParams\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "c2d3e4f5-6a7b-8c9d-0e1f-2a3b4c5d6e7f",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": "={{ Object.entries($json.queryParams || {}).map(([key, value]) => ({ name: key, value: String(value) })) }}"
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": "={{ Object.entries($json.headers || {}).map(([key, value]) => ({ name: key, value: String(value) })) }}"
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body ? JSON.stringify($json.body) : '{}' }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "d3e4f5a6-7b8c-9d0e-1f2a-3b4c5d6e7f8a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format successful HTTP response\nconst response = $input.item.json;\n\n// Extract status code\nconst statusCode = response.statusCode || 200;\n\n// Extract headers\nconst responseHeaders = response.headers || {};\n\n// Extract body (already parsed by n8n if JSON)\nconst responseBody = response.body;\n\nreturn {\n  json: {\n    success: true,\n    statusCode: statusCode,\n    responseBody: responseBody,\n    responseHeaders: responseHeaders,\n    error: null\n  }\n};"
      },
      "id": "e4f5a6b7-8c9d-0e1f-2a3b-4c5d6e7f8a9b",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format error response\nconst error = $input.item.json.error || $input.item.json;\n\nlet errorMessage = 'HTTP request failed';\nlet statusCode = 500;\n\n// Try to extract meaningful error information\nif (error.message) {\n  errorMessage = error.message;\n}\n\nif (error.statusCode) {\n  statusCode = error.statusCode;\n} else if (error.httpCode) {\n  statusCode = error.httpCode;\n}\n\n// Check if there's a response body with error details\nlet responseBody = null;\nif (error.response && error.response.body) {\n  responseBody = error.response.body;\n} else if (error.body) {\n  responseBody = error.body;\n}\n\nreturn {\n  json: {\n    success: false,\n    statusCode: statusCode,\n    responseBody: responseBody,\n    responseHeaders: {},\n    error: errorMessage\n  }\n};"
      },
      "id": "f5a6b7c8-9d0e-1f2a-3b4c-5d6e7f8a9b0c",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a6b7c8d9-0e1f-2a3b-4c5d-6e7f8a9b0c1d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "America/New_York",
    "saveExecutionProgress": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
  "meta": {
    "instanceId": "catalyst-http-request-connector"
  },
  "id": "CatalystHTTPRequest",
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "createdAt": "2025-01-01T00:00:00.000Z"
}
