connectors/generated/communication/gmail-send-message/gmail-send-message.n8n.json
{
  "name": "Gmail - Send Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-gmail-send-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "catalyst-gmail-send-message"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.to }}",
        "subject": "={{ $json.body.subject }}",
        "emailType": "text",
        "message": "={{ $json.body.message }}",
        "options": {
          "ccList": "={{ $json.body.cc }}",
          "bccList": "={{ $json.body.bcc }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "zp5p8sgdydc",
      "name": "Send Message"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, statusCode: 200, responseBody: $json, error: null } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "respond-1",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Catalyst connector webhook for Gmail - Send Email. Configure credentials in n8n after importing."
  }
}