connectors/templates/data-collection/weather-forecast/weather-forecast.n8n.json
{
  "name": "Catalyst HTTP Weather Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-http-weather-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e47b18d5-75ff-40a7-a56c-3b3c8893d431",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        112
      ],
      "webhookId": "catalyst-http-request"
    },
    {
      "parameters": {
        "method": "={{ $json.body.method }}",
        "url": "={{ $json.body.url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $json.body.queryParams.latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.body.queryParams.longitude }}"
            },
            {
              "name": "current",
              "value": "={{ $json.body.queryParams.current }}"
            },
            {
              "name": "temperature_unit",
              "value": "={{ $json.body.queryParams.temperature_unit }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "47bda694-fb81-4c1e-ad84-da901c713a9d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "1fdb5e79-45fe-49a6-a33f-00b47e6ff18b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        112
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "accept": "application/json",
            "accept-encoding": "gzip, x-gzip, deflate",
            "content-length": "251",
            "host": "catalyst-n8n:5678",
            "connection": "keep-alive",
            "user-agent": "Apache-HttpClient/5.3 (Java/17.0.10)"
          },
          "params": {},
          "query": {},
          "body": {
            "method": "GET",
            "url": "https://api.open-meteo.com/v1/forecast",
            "headers": {},
            "queryParams": {
              "latitude": "40.7128",
              "longitude": "-74.0060",
              "current": "temperature_2m,relative_humidity_2m,wind_speed_10m,weather_code",
              "temperature_unit": "celsius"
            },
            "body": {}
          },
          "webhookUrl": "http://localhost:5678/webhook/catalyst-http-weather-request",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "82c4db6d-b3e8-4ac5-bae4-d26ec62208b8",
  "meta": {
    "instanceId": "ce05dc53898fbb8073128a84a17338d25f6cbd94e62c9a790f9aae06599b0bf6"
  },
  "id": "7vEk732oMDqQxW6B",
  "tags": []
}