connectors/templates/ai-analysis/xai-text-analysis/xai-text-analysis-n8n.json
{
  "name": "xAI Text Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "full-content-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ace54dde-0fb2-4ce6-b889-8a7d26aa22d5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "full-content-analysis"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input from webhook\nconst data = $input.item.json.body || $input.item.json;\n\nconst keywords = data.keywords;\nconst scenario = data.scenario;\nconst length = data.length || \"medium\";\nconst maxTokens = parseInt(data.maxTokens, 10) || 1024;\n\n// Validate required fields\nif (!keywords || keywords.trim() === \"\") {\n  throw new Error('Missing required field: keywords');\n}\nif (!scenario || scenario.trim() === \"\") {\n  throw new Error('Missing required field: scenario');\n}\n\n// Determine word count based on length\nconst wordCounts = {\n  short: \"100-150\",\n  medium: \"200-300\",\n  long: \"400-500\"\n};\n\nconst wordCount = wordCounts[length] || wordCounts.medium;\n\nreturn {\n  json: {\n    keywords: keywords,\n    scenario: scenario,\n    length: length,\n    wordCount: wordCount,\n    maxTokens: maxTokens\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "bfb0d0af-d269-4967-bbae-02b25332d7a3",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-3\",\n  \"temperature\": 0.7,\n  \"max_tokens\": {{ $json.maxTokens }},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional news writer. Write in a formal, journalistic style appropriate for a news article.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ ('Write a ' + $json.length + ' news article (' + $json.wordCount + ' words) based on these keywords: ' + $json.keywords + '. The scenario/context is: ' + $json.scenario + '. Use a neutral, factual tone.').toJsonString() }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "6eff37fa-c7d1-46a6-801f-a227cbec471d",
      "name": "Generate Content (Grok)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        0
      ],
      "credentials": {
        "xAiApi": {
          "id": "q9jGG1nFgR7BE48z",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract generated content from Grok response\nconst grokResponse = $input.item.json;\nconst content = grokResponse.choices[0].message.content.trim();\n\nreturn {\n  json: {\n    content: content\n  }\n};"
      },
      "id": "7744cb2f-51b6-4d5c-8a84-ff010cc9cbbb",
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-3\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert content analyst. Analyze the following article and respond with ONLY valid JSON. Do not add explanations, markdown code blocks, or any text outside the JSON structure. Use this exact format:\\n\\n{\\n  \\\"sentiment\\\": {\\\"sentiment\\\": \\\"positive|negative|neutral|mixed\\\", \\\"confidence\\\": 0-100, \\\"explanation\\\": \\\"brief reason\\\"},\\n  \\\"summary\\\": \\\"concise 2-3 sentence summary\\\",\\n  \\\"keyPoints\\\": [\\\"bullet point 1\\\", \\\"bullet point 2\\\", \\\"bullet point 3\\\"],\\n  \\\"entities\\\": {\\n    \\\"people\\\": [\\\"name1\\\", \\\"name2\\\"],\\n    \\\"organizations\\\": [\\\"org1\\\", \\\"org2\\\"],\\n    \\\"locations\\\": [\\\"place1\\\", \\\"place2\\\"],\\n    \\\"dates\\\": [\\\"date1\\\", \\\"date2\\\"]\\n  },\\n  \\\"risk\\\": {\\\"text\\\": \\\"risk assessment explanation\\\", \\\"level\\\": \\\"low|medium|high\\\"}\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ ('Article to analyze:\\n\\n' + $json.content).toJsonString() }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "eaca5474-e07d-445f-b14d-dfdef97c032a",
      "name": "Full Analysis (Grok)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        0
      ],
      "credentials": {
        "xAiApi": {
          "id": "q9jGG1nFgR7BE48z",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract analysis from Grok response\nconst grokResponse = $input.item.json;\nconst analysisText = grokResponse.choices[0].message.content.trim();\n\n// Remove markdown code blocks if present\nlet cleanContent = analysisText\n  .replace(/```json\\n/g, '')\n  .replace(/```json/g, '')\n  .replace(/```\\n/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nlet analysis;\ntry {\n  analysis = JSON.parse(cleanContent);\n} catch (e) {\n  // If parsing fails, try to extract JSON object\n  const jsonMatch = cleanContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('Could not parse Grok analysis response as JSON: ' + e.message);\n  }\n}\n\n// Get the content from the previous node\nconst previousData = $input.all()[0].json;\n\n// Return fields matching the Catalyst template output mapping exactly\nreturn {\n  json: {\n    content: $('Extract Content').first().json.content,\n    sentiment: analysis.sentiment?.sentiment || \"unknown\",\n    confidence: analysis.sentiment?.confidence || 0,\n    explanation: analysis.sentiment?.explanation || \"\",\n    summary: analysis.summary || \"\",\n    keyPoints: analysis.keyPoints || [],\n    people: analysis.entities?.people || [],\n    organizations: analysis.entities?.organizations || [],\n    locations: analysis.entities?.locations || [],\n    dates: analysis.entities?.dates || [],\n    riskAssessment: analysis.risk?.text || \"\",\n    riskLevel: analysis.risk?.level || \"unknown\"\n  }\n};"
      },
      "id": "ac4429a0-0321-4d5b-a014-f664a8e067b9",
      "name": "Parse & Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "1dc628ee-0a7f-479b-be22-3e78b1b1f77d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1136,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Generate Content (Grok)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content (Grok)": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Full Analysis (Grok)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Analysis (Grok)": {
      "main": [
        [
          {
            "node": "Parse & Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Combine Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "38eac03f-84bd-49f5-a152-8d2ccd84ec90",
  "meta": {
    "instanceId": "ce05dc53898fbb8073128a84a17338d25f6cbd94e62c9a790f9aae06599b0bf6"
  },
  "id": "cSp4WDdxiLa82xjC",
  "tags": []
}