connectors/archive/xAI Text Analysis (1).json
{
  "name": "xAI Text Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "full-content-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6784a61f-b402-4e23-88e2-6680e904f21f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2480,
        368
      ],
      "webhookId": "full-content-analysis"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input from webhook\nconst data = $input.item.json.body || $input.item.json;\n\nconst keywords = data.keywords;\nconst scenario = data.scenario;\nconst length = data.length || \"medium\";\nconst maxTokens = parseInt(data.maxTokens, 10) || 1024;\n\n// Validate required fields\nif (!keywords || keywords.trim() === \"\") {\n  throw new Error('Missing required field: keywords');\n}\nif (!scenario || scenario.trim() === \"\") {\n  throw new Error('Missing required field: scenario');\n}\n\n// Determine word count based on length\nconst wordCounts = {\n  short: \"100-150\",\n  medium: \"200-300\",\n  long: \"400-500\"\n};\n\nconst wordCount = wordCounts[length] || wordCounts.medium;\n\n// Build the Grok API request\nconst userPrompt = `Write a ${length} news article (${wordCount} words) based on these keywords: ${keywords}. The scenario/context is: ${scenario}. Use a neutral, factual tone.`;\n\nconst apiRequest = {\n  model: \"grok-3\",\n  temperature: 0.7,\n  max_tokens: maxTokens,\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a professional news writer. Write in a formal, journalistic style appropriate for a news article.\"\n    },\n    {\n      role: \"user\",\n      content: userPrompt\n    }\n  ]\n};\n\nreturn {\n  json: apiRequest\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        368
      ],
      "id": "5c4eec68-f76a-4573-9ed3-a9d6971afd01",
      "name": "Validate & Build Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "fc3268dd-23d9-4e31-abdf-a1501907a880",
      "name": "Generate Content (Grok)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2864,
        368
      ],
      "credentials": {
        "xAiApi": {
          "id": "n26BmCg2h3yPlIXf",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract generated content from Grok response\nconst grokResponse = $input.item.json;\nconst content = grokResponse.choices[0].message.content.trim();\n\nreturn {\n  json: {\n    content: content\n  }\n};"
      },
      "id": "f08238f1-83c1-4b29-ad67-225e783381bb",
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build analysis API request\nconst content = $input.item.json.content;\n\nconst apiRequest = {\n  model: \"grok-3\",\n  temperature: 0.3,\n  max_tokens: 1024,\n  messages: [\n    {\n      role: \"system\",\n      content: `You are an expert content analyst. Analyze the following article and respond with ONLY valid JSON. Do not add explanations, markdown code blocks, or any text outside the JSON structure.\n\nCRITICAL: The risk level and risk text must be consistent. If you assess minimal/low risk, set level to \"low\". If you assess significant/high risk, set level to \"high\". If you assess moderate risk, set level to \"medium\".\n\nUse this exact format:\n\n{\n  \"sentiment\": {\n    \"sentiment\": \"positive|negative|neutral|mixed\", \n    \"confidence\": 0-100, \n    \"explanation\": \"brief reason\"\n  },\n  \"summary\": \"concise 2-3 sentence summary\",\n  \"keyPoints\": [\"bullet point 1\", \"bullet point 2\", \"bullet point 3\"],\n  \"entities\": {\n    \"people\": [\"name1\", \"name2\"],\n    \"organizations\": [\"org1\", \"org2\"],\n    \"locations\": [\"place1\", \"place2\"],\n    \"dates\": [\"date1\", \"date2\"]\n  },\n  \"risk\": {\n    \"text\": \"risk assessment explanation\",\n    \"level\": \"low|medium|high\"\n  }\n}\n\nRISK LEVEL GUIDELINES:\n- \"low\": No significant threats, minimal concerns, safe, routine content\n- \"medium\": Some potential concerns, caution advised, moderate implications\n- \"high\": Significant threats, dangerous content, severe implications, critical issues\n\nEnsure the \"text\" field matches the \"level\" field. Do not say \"minimal risk\" while setting level to \"high\".`\n    },\n    {\n      role: \"user\",\n      content: `Article to analyze:\\n\\n${content}`\n    }\n  ]\n};\n\nreturn {\n  json: {\n    apiRequest: apiRequest,\n    originalContent: content\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        368
      ],
      "id": "4ccf16b8-de63-473b-9f1a-e3141ef01b3c",
      "name": "Build Analysis Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.apiRequest }}",
        "options": {}
      },
      "id": "7f349ed2-1095-437f-8e54-9d9a6a3720e1",
      "name": "Full Analysis (Grok)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3392,
        368
      ],
      "credentials": {
        "xAiApi": {
          "id": "n26BmCg2h3yPlIXf",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract analysis from Grok response\nconst grokResponse = $input.item.json;\nconst analysisText = grokResponse.choices[0].message.content.trim();\n\n// Get original content from previous nodes\nconst originalContent = $('Generate Content (Grok)').first().json.choices[0].message.content;\n\n// Remove markdown code blocks if present\nlet cleanContent = analysisText\n  .replace(/```json\\n/g, '')\n  .replace(/```json/g, '')\n  .replace(/```\\n/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nlet analysis;\ntry {\n  analysis = JSON.parse(cleanContent);\n} catch (e) {\n  // If parsing fails, try to extract JSON object\n  const jsonMatch = cleanContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('Could not parse Grok analysis response as JSON: ' + e.message);\n  }\n}\n\n// Extract risk data with validation\nlet riskLevel = (analysis.risk?.level || \"unknown\").toLowerCase();\nlet riskAssessment = analysis.risk?.text || \"\";\n\n// VALIDATION: Check for mismatches between risk level and assessment text\nconst lowRiskKeywords = ['minimal risk', 'no risk', 'low risk', 'safe', 'no significant threat', 'no concerns'];\nconst highRiskKeywords = ['high risk', 'significant risk', 'dangerous', 'severe', 'critical', 'major threat'];\n\nconst assessmentLower = riskAssessment.toLowerCase();\n\nif (riskLevel === 'high' && lowRiskKeywords.some(kw => assessmentLower.includes(kw))) {\n  console.log('⚠️ Risk mismatch: Level is HIGH but text suggests LOW. Correcting to LOW.');\n  riskLevel = 'low';\n} else if (riskLevel === 'low' && highRiskKeywords.some(kw => assessmentLower.includes(kw))) {\n  console.log('⚠️ Risk mismatch: Level is LOW but text suggests HIGH. Correcting to HIGH.');\n  riskLevel = 'high';\n}\n\n// Return fields matching the Catalyst template\nreturn {\n  json: {\n    content: originalContent,\n    sentiment: analysis.sentiment?.sentiment || \"unknown\",\n    confidence: analysis.sentiment?.confidence || 0,\n    explanation: analysis.sentiment?.explanation || \"\",\n    summary: analysis.summary || \"\",\n    keyPoints: analysis.keyPoints || [],\n    people: analysis.entities?.people || [],\n    organizations: analysis.entities?.organizations || [],\n    locations: analysis.entities?.locations || [],\n    dates: analysis.entities?.dates || [],\n    riskAssessment: riskAssessment,\n    riskLevel: riskLevel\n  }\n};"
      },
      "id": "3a8beb4f-b139-41e0-8c80-275bb060475a",
      "name": "Parse & Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        368
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c7b04788-89a5-4f5d-91a1-0bbc39a2fd1a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3792,
        368
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Build Request": {
      "main": [
        [
          {
            "node": "Generate Content (Grok)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content (Grok)": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Build Analysis Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analysis Request": {
      "main": [
        [
          {
            "node": "Full Analysis (Grok)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Analysis (Grok)": {
      "main": [
        [
          {
            "node": "Parse & Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Combine Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "358ad006-e495-4069-b6a7-5bf8e64c7a44",
  "meta": {
    "instanceId": "d07cb5830d1c6e8b61c18357e4a7ad7de4f3f165ad8ffc7d47da8473d0e16ea4"
  },
  "id": "ZjP5xGkW2XScq5NV",
  "tags": []
}