packages/connectors/generated/communication/slack-send-message/slack-send-message.n8n.json.backup-2026-01-25T15-15-30-651Z
{
  "name": "Slack - Send Message",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-slack-send-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "catalyst-slack-send-message"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.body.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        220,
        0
      ],
      "id": "b9ywvpmqs16",
      "name": "Send Message"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, statusCode: 200, responseBody: $json, error: null } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "respond-1",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Catalyst connector webhook for Slack - Send Message. Configure credentials in n8n after importing."
  }
}