connectors/generated/communication/gmail-get-message/gmail-get-message.n8n.json
{
  "name": "Gmail - Get Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-gmail-get-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "catalyst-gmail-get-message"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "get",
        "messageId": "={{ $json.body.messageId }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.4,
      "position": [
        220,
        0
      ],
      "id": "m9wjaqxz9tc",
      "name": "Get Message"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, statusCode: 200, responseBody: $json, error: null } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "respond-1",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Catalyst connector webhook for Gmail - Get Email. Configure credentials in n8n after importing."
  }
}