connectors/integrations/communication/send-email/send-email-form.n8n.json
{
  "name": "Send Email (Form)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Send Email",
        "formDescription": "Send an email via SMTP.\n\nRequires SMTP credentials to be configured in n8n.",
        "formFields": {
          "values": [
            {
              "fieldName": "toEmail",
              "fieldLabel": "To",
              "placeholder": "recipient@example.com",
              "requiredField": true
            },
            {
              "fieldName": "subject",
              "fieldLabel": "Subject",
              "placeholder": "Email subject line",
              "requiredField": true
            },
            {
              "fieldName": "message",
              "fieldLabel": "Message",
              "fieldType": "textarea",
              "placeholder": "Enter your message here...",
              "requiredField": true
            },
            {
              "fieldName": "ccEmail",
              "fieldLabel": "CC (optional)",
              "placeholder": "cc@example.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        384,
        96
      ],
      "id": "09b60174-400c-4de6-a03a-ee0be50f12fa",
      "name": "Email Form",
      "webhookId": "send-email-form"
    },
    {
      "parameters": {
        "fromEmail": "=noreply@example.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        608,
        96
      ],
      "id": "ffe6d48c-8af7-482d-ac8b-5e3b40b94215",
      "name": "Send Email",
      "webhookId": "4dbc99c2-0b0a-44c4-9c05-6bc682f5d144",
      "credentials": {
        "smtp": {
          "id": "AenGOVR4pUkhYrJQ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=## Email Sent Successfully\n\n**To:** {{ $('Email Form').item.json.toEmail }}\n\n**Subject:** {{ $('Email Form').item.json.subject }}\n\n**Message:**\n{{ $('Email Form').item.json.message }}"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        832,
        96
      ],
      "id": "579464ed-a19d-4523-b457-29d254aa47d9",
      "name": "Show Result",
      "webhookId": "send-email-result"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Form": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Show Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "289a1a1b-2b40-4232-9878-bb79835635c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce05dc53898fbb8073128a84a17338d25f6cbd94e62c9a790f9aae06599b0bf6"
  },
  "id": "UIxHCZZCZajILOyA",
  "tags": []
}