connectors/integrations/communication/send-email/send-email.n8n.json
{
  "name": "Send Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "catalyst-send-email"
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "={{ $json.body.toEmail }}",
        "subject": "={{ $json.body.subject }}",
        "html": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [220, 0],
      "id": "email-send-1",
      "name": "Send Email",
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, statusCode: 200, responseBody: { sent: true, to: $('Webhook').item.json.body.toEmail, subject: $('Webhook').item.json.body.subject }, error: null } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 0],
      "id": "respond-1",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Production webhook version for Camunda integration. Requires SMTP credentials configured in n8n."
  }
}
