connectors/generated/communication/gmail/gmail-template.n8n.json
{
  "name": "Catalyst Gmail Connector Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-gmail",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "catalyst-gmail"
    },
    {
      "parameters": {
        "emailType": "={{ $json.body.emailType }}",
        "filters": "={{ $json.body.filters }}",
        "filtersNotice": "={{ $json.body.filtersNotice }}",
        "labelId": "={{ $json.body.labelId }}",
        "labelIds": "={{ $json.body.labelIds }}",
        "limit": "={{ $json.body.limit }}",
        "message": "={{ $json.body.message }}",
        "messageId": "={{ $json.body.messageId }}",
        "name": "={{ $json.body.name }}",
        "options": "={{ $json.body.options }}",
        "returnAll": "={{ $json.body.returnAll }}",
        "sendTo": "={{ $json.body.sendTo }}",
        "simple": "={{ $json.body.simple }}",
        "subject": "={{ $json.body.subject }}",
        "threadId": "={{ $json.body.threadId }}",
        "threadNotice": "={{ $json.body.threadNotice }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        300,
        0
      ],
      "id": "rhb7o8fx45a",
      "name": "Gmail"
    },
    {
      "parameters": {
        "jsCode": "// Format error response\nconst error = $input.item.json.error || $input.item.json;\n\nlet errorMessage = 'Connector not configured. Please:\n1. Open the Gmail node in n8n\n2. Select a Resource (Draft, Label, Message, Thread)\n3. Select an Operation\n4. Configure OAuth credentials\n5. Save and activate workflow';\n\nif (error.message) {\n  errorMessage = error.message;\n}\n\nreturn {\n  json: {\n    success: false,\n    statusCode: 500,\n    error: errorMessage,\n    responseBody: null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        100
      ],
      "id": "error-format-1",
      "name": "Format Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, statusCode: 200, responseBody: $json, error: null } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        740,
        0
      ],
      "id": "respond-1",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Catalyst Gmail Connector Template - Configure resource, operation, and credentials in n8n after importing. Supports 4 resources with 26 operations."
  }
}